[color]
    ui = auto

[alias]
    out = log remotes/origin/master..HEAD --pretty='format:%Cred%h%Creset %s' --color
    in = !git fetch && git log HEAD..remotes/origin/master
    ci = commit -v --untracked-files=no
    st = status
    tagbydate = for-each-ref --format='%(taggerdate:iso8601) | %(tag)' --sort=taggerdate refs/tags
    lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(white)%d%Creset %s %Cgreen(%an %ar)%Creset'
    dt = difftool

[diff]
    tool = vimdiff
    mnemonicPrefix = true
    wordRegex = .
    renames = true

[difftool]
    prompt = false

[difftool "vimdiff"]
    cmd = vimdiff \"$LOCAL\" \"$REMOTE\"

[log]
    abbrevCommit = true
[push]
    default = simple
[core]
    excludesfile = {{ ansible_user_dir }}/.gitignore
